@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "partials/_settings";
@import "partials/_foundation";

$strong_dark: #333333;
$light_dark: #666666;
$med_color: #99CCCC;
$light_med: #B1ECEC;

body {
  font-weight: 300;
}
a {
  color: #FFF;
  font-size: 1rem;
}
h1 {
  font-size: 1rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.3rem;
  padding: 1rem 2rem 1rem;
}
.lineage {

}
h3 {
  padding: 1rem;
  font-size: 4rem;
  text-decoration: underline;
  border-top: thin solid #FFF;

}

h4 {
  padding: 0 1rem 1rem;
  font-size: 0.8rem;
  color: #FFF;
}

h5 {
  padding-top: 1rem;
  padding-bottom: 0;
  font-size: 1rem;
}

h6 {
  padding-bottom: 1rem;
  border-bottom: thin solid #FFF;
  font-size: 2rem;
}

h2,h3,h4,h5,h6 {
  color: #FFF;
}

span {
  font-weight: bold;

}

.small-12 {
  // background-color: #aabbcc;
  // padding: 2rem;
  // text-align: center;
}

.med-12 {
  // padding: 2rem;
  // background-color: #d44;
}

.large-12 {
  // background-color: green;
}
.large-8 {
  // background-color: blue;
}
.large-4 {
  // background-color: red;
}

header {
  text-align: center;
  background-image: url(../images/header_bg.svg);
  background-color: $med_color;
  // padding: 2rem;
}

nav {
  @media #{$medium-up}{
    // margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    // width: 90%;
    // text-align: center;
    margin-top: -22px;
    // padding-left: 30%;
    // padding-right: 10%;
    padding: 0 0 0 30%;
  }
    border-radius: 0.5rem;

}

.name {
  padding-left: 1em;
}

div {

  &.to_the_moon, &.just_around_earth, &.more_deals_large {
    // margin-top: 2em;
    // margin-bottom: 2em;
    height: 18rem;
    background-color: $light_dark;
    // padding: 1em;
    border-radius: 0.5rem;
  }
  &.p {
    color: $strong_dark;
  }
}

footer {
  background-color: $strong_dark;
  p {
    color: $light_dark;
    font-size: 0.8rem;
  }
}
main {
    text-align: center;
    padding: 2rem;
}
.content_large {
  // margin: 2em;
  padding: 2em;
  height: 300px;
  @media #{$medium-up}{
    border-radius: 0.5rem;
    margin: 2rem;
  }
  background-color: $med_color;
}
.ufo_text, .ufo_side {
  padding: 2rem;
  height: 15rem;
  background-color: $med_color;
}
.ufo_text{
  // color: $strong_dark;
}
.ufo_side {
  // margin-top: 2em;
}
.ship_pop {
  margin-top: -5rem;
  height: 12rem;
}
.find_out {
  background-color: $light_dark;
  text-align: center;
  color: #FFF;
  font-size: 0.7rem;
  border-bottom: thick solid $strong_dark;
  padding: 1em;
  @media #{$medium-only}{
    margin: auto;
    width: 200px;
  }
}
.more_deals_small{
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  padding: 2rem;
  text-align: center;
  background-color: $light_med;
}

.more_deals_large{
  // height: 15em;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #FFF;
  // padding: 2em;
  text-align: center;
  // background-color: $light_med;
}
